# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# If using Docker
*.pid
*.sock

# IDE / Editor files:
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage reports
.coverage
htmlcov/

# Migrations (optional)
**/migrations/
!**/migrations/__init__.py

# Celery beat schedule file
celerybeat-schedule

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
